# === Java / Maven ===
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Maven output
target/*
/target/*
frontend/target/*
backend/target/*

# === IDE ===
.idea/
*.iml
out/

# === Tomcat portable config ===
!/server/apache-tomcat-11.0.11/bin/
!/server/apache-tomcat-11.0.11/bin/*.*
!/server/apache-tomcat-11.0.11/lib/*.*
!/server/apache-tomcat-11.0.11/lib/
!/server/apache-tomcat-11.0.11/conf/
!/server/apache-tomcat-11.0.11/data/*

# Exclude generated runtime content
/server/apache-tomcat-11.0.11/logs/
/server/apache-tomcat-11.0.11/temp/
/server/apache-tomcat-11.0.11/work/
/server/apache-tomcat-11.0.11/webapps/
/server/apache-tomcat-11.0.11/wtpwebapps/
/server/apache-tomcat-11.0.11/backup/

# === Other ===
/bin/
