.card-grid .card {
	height: 100%;
}

.card-grid .card-img-top {
	height: 150px;
	object-fit: cover;
}

.card-grid .card-body {
	display: flex;
	flex-direction: column;
}

.card-grid .btn {
	margin-top: auto;
}